<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">


            <strong routerLink="/"  class="title" style="font-size: 30px;"> Cloud Secrets Task</strong>
          
        </div>
        <button routerLink="cart"  class="btn btn-primary button-cart">
            <i style="font-size: 30px;" class="fa fa-shopping-cart"></i>
            <div style="font-size: 11px;" class="badge bg-danger badge-top-left">{{totalItem}}</div>
        </button>
    </div>
</header>